# common
SPRING_PROFILES_ACTIVE=prod
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# gateway
AUTH_SERVICE_HOST=auth
AUTH_SERVICE_PORT=8082
PAYMENT_SERVICE_HOST=payment
PAYMENT_SERVICE_PORT=8083
CHAT_SERVICE_HOST=chat
CHAT_SERVICE_PORT=8084
TRAVEL_SERVICE_HOST=travel
TRAVEL_SERVICE_PORT=8085

# auth db
AUTH_DB_HOST=auth-mysql
AUTH_DB_PORT=3306
AUTH_DB_NAME=auth_db

# payment db
PAYMENT_DB_HOST=payment-mysql
PAYMENT_DB_PORT=3306
PAYMENT_DB_NAME=payment_db

# travel db
TRAVEL_DB_HOST=travel-mysql
TRAVEL_DB_PORT=3306
TRAVEL_DB_NAME=travel_db

# common db account
DB_USERNAME=root
MYSQL_ROOT_PASSWORD=ssafy1234

# mongo db
CHAT_DB_HOST=chat-mongo
CHAT_DB_NAME=chat_db
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=ssafy1234

#jwt
JWT_SECRET=YOUR_JWT_SECRET_KEY

# redis
REDIS_HOST=redis
REDIS_PORT=6379

# GMS
GMS_URL=YOUR_GMS_URL
GMS_KEY=YOUR_GMS_KEY
GMS_MODEL=gpt-5-mini

# minio
MINIO_ROOT_USER=encominio
MINIO_ROOT_PASSWORD=encominio234!
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=enco
FILE_BASE_URL=http://api.ssafywte.site

# clova
CLOVA_OCR_INVOKE_URL=YOUR_CLOVA_OCR_INVOKE_URL
CLOVA_OCR_SECRET=YOUR_CLOVA_OCR_SECRET_KEY
CLOVA_OCR_VERSION=V2
CLOVA_OCR_TIMEOUT_MS=30000